---
title: Termine
subtitle: Amazing Aces — Nord Aces Bremen 
nometa: true
headless: true
menu: Termine
---

h1 = "Termine" 

p Der Stammtisch findet regelmäßig immer am dritten Freitag des Monats statt. Auch wenn hier nur ein paar Monate im Voraus angezeigt werden, könnt ihr euch daran orientieren, falls ihr euch schon die Termine für spätere Monate merken wollt. 
p Die Räumlichkeiten ändern sich im monatlichen Wechsel: 
p → In den ungeraden Monaten treffen wir uns um 19:00 Uhr im Dachgeschosszimmer des Rat&Tat im Viertel in Bremen. Adresse: Theodor-Körner-Straße 1, Bremen
p → In den geraden Monaten treffen wir uns hingegen um 19:30 Uhr in den Räumlichkeiten der jungen Selbsthilfe. Adresse: Faulenstraße 31, Bremen
p Falls sich mal ein Termin ändert, werden wir das hier auf der Website aktualisieren, also schaut am besten einfach kurz vorher nochmal nach.
   
- events.group_by{|t| 0}.each do |group, event| 
    == eventbox(event)
