---
title: Termine
subtitle: Amazing Aces — Nord Aces Bremen 
nometa: true
headless: true
menu: Termine
---

h1 = "Termine" 

p Der Stammtisch findet regelmäßig immer am dritten Freitag des Monats um 19 Uhr statt. Auch wenn hier nur ein paar Monate im Voraus angezeigt werden, könnt ihr euch daran orientieren, falls ihr euch schon die Termine für spätere Monate merken wollt. 
p Die Räumlichkeiten ändern sich im monatlichen Wechsel: In den ungeraden Monaten treffen wir uns im Dachgeschosszimmer des Rat&Tat im Viertel in Bremen. In den geraden Monaten treffen wir uns hingegen in den Räumlichkeiten der jungen Selbsthilfe.
p Adressen: 
p Falls sich mal ein Termin ändert, werden wir das hier auf der Website aktualisieren, also schaut am besten einfach kurz vorher nochmal nach.
   
- events.group_by{|t| 0}.each do |group, event| 
    == eventbox(event)
